@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3b1717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {

/* Cerise */
--color-cerise-logo: oklch(61.16% 0.2522 354.34); /* #ea008d */
--color-cerise-on-light: #CE037D;
--color-cerise-on-dark: #FC27A7;

/* Pear */
--color-pear-logo: oklch(81.18% 0.1841 115.59); /* #bdce05 */
--color-pear-on-light: #859D02; /*! Do not use unless emergency */
--color-pear-on-dark: var(--color-pear-logo);

/* Keppel */
--color-keppel-logo: oklch(61.16% 0.132201 175.5753); /* #009c80 */
--color-keppel-on-light: #00856F;
--color-keppel-on-dark: #00BD9D;

--color-de-background-dark: #1d2546;
}