annotated-types==0.7.0
argcomplete==3.6.2
black==25.1.0
click==8.1.8
git+https://github.com/connorkm2/datamodel-code-generator.git@main#egg=datamodel-code-generator
genson==1.3.0
inflect==5.6.2
isort==6.0.1
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
pydantic==2.11.3
pydantic_core==2.33.1
Pygments==2.19.1
python-baseconv==1.2.2
PyYAML==6.0.2
rich==14.0.0
shellingham==1.5.4
svix-ksuid==0.6.2
tomli==2.2.1
typer==0.15.2
typing-inspection==0.4.0
typing_extensions==4.13.1
